.header-container {
  align-items: center;
  background-color: #89bd89;

  /* border-radius: 0 0 25px 25px; */
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
  padding: 10px;
}

.header-icons {
  align-items: center;
  aspect-ratio: 1/1;
  background-color: #89bd89;
  border: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  width: 17%;
}

.hidden {
  opacity: 0;
}

.header-title {
  font-size: 32px;
  margin: 0;
  text-align: center;
}

.header-icons-img {
  width: calc(100vw * 0.1);
}
